@font-face {
  font-family: rajdhani-semibold;
  src: url(./../fonts/Rajdhani-SemiBold.ttf); }

@font-face {
  font-family: rajdhani-medium;
  src: url(./../fonts/Rajdhani-Medium.ttf); }

header {
  display: flex;
  flex-direction: column; }

#header {
  display: none !important; }

.footer {
  display: none; }

.header {
  position: relative; }

.head, .header {
  background: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 10px;
  width: auto;
  position: relative; }

.header {
  padding: 5px 10px !important; }

.likes {
  display: none;
  position: absolute;
  z-index: 5000;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: rajdhani-semibold;
  color: white;
  text-decoration: none;
  font-size: 32px; }

.likes img {
  max-width: 34px;
  margin: auto;
  margin-bottom: 0; }

.gallery:hover .likes {
  display: flex !important;
  justify-content: center;
  text-align: center;
  flex-direction: column; }

.nav-icon3 {
  margin-top: 12px;
  width: 40px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-icon3 span:nth-child(1) {
  top: 0px; }

.nav-icon3 span:nth-child(2), .nav-icon3 span:nth-child(3) {
  top: 10px; }

.nav-icon3 span:nth-child(4) {
  top: 20px; }

.nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

.header-title {
  font-family: rajdhani;
  font-weight: bold;
  font-size: 40px;
  color: white;
  margin: 0 20px;
  text-align: center; }

.header-search {
  margin-top: 8px; }

main {
  position: relative; }

.main-1 {
  padding: 10px 0;
  background-color: #c5c5c5;
  font-family: rajdhani;
  font-size: 18px;
  color: white;
  text-align: center; }

.main-1-span1 {
  font-weight: bold; }

.owl-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0); }

.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  border: 2px solid #a6a5a5;
  background: white;
  margin-right: 5px;
  display: inline-block; }

.owl-dot.active {
  background: black; }

.owl-nav {
  display: none !important; }

.main-2 {
  position: relative; }

.carousel-text {
  position: absolute;
  z-index: 10;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
  left: 20px; }

.carousel-text-1 {
  font-family: rajdhani;
  font-size: 19px; }

.carousel-text-1-span1 {
  font-weight: bold; }

.carousel-text-3 {
  font-family: "Courier New";
  font-size: 16px;
  margin-bottom: 20px; }

.carousel-text-4-button {
  font-family: rajdhani;
  background: #f8f7f3;
  font-size: 22px;
  border: solid 3px black;
  padding: 8px; }

.main-3, .main-4, .main-5, .main-6 {
  max-width: 1220px;
  text-align: center;
  width: auto;
  margin: 0 auto; }

.main-4-href {
  width: 100%; }

.main-4-logo {
  margin-bottom: 20px; }

.main-3 {
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: rajdhani;
  font-size: 24px; }

.main-3 img, .main-5-title img, .main-6-title img {
  vertical-align: middle; }

#owl2 .owl-dots, #owl3 .owl-dots, #owl4 .owl-dots {
  display: none; }

#owl2 .owl-nav, #owl3 .owl-nav, #owl4 .owl-nav {
  display: none; }

.main-3-title {
  margin: 20px; }

#owl2 .owl-stage-outer .owl-stage .owl-item:not(.active) {
  opacity: 0.2; }

#owl2 .owl-stage-outer .owl-stage .owl-item.active {
  opacity: 1; }

@media screen and (min-width: 1200px) {
  #owl2 .owl-stage-outer .owl-stage .owl-item:not(.active) {
    opacity: 1; } }

@media screen and (min-width: 730px) {
  .hamburger {
    bottom: -120px !important; }
  .head {
    order: 1; }
  footer {
    margin: 0 !important;
    padding: 0 !important;
    background: black !important;
    display: flex;
    justify-content: center; }
  footer > img {
    display: none; }
  .footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    padding: 20px 0;
    width: 100%; }
  .footer-menu a {
    text-decoration: none;
    font-family: rajdhani;
    font-size: 19px;
    color: white;
    margin: 15px !important; }
  .footer-menu a:hover {
    color: grey; }
  .footer-social {
    margin-right: 10px; }
  #owl4 .owl-stage-outer .owl-stage .owl-item:not(.active) {
    opacity: 0 !important; }
  .main-4-clothes-images {
    display: flex; }
  .main-4-href1 {
    width: 55%; }
  .main-4-href2 {
    width: 50%; }
  .main-4-href3 {
    width: 60%; }
  .main-4-href4 {
    width: 40%; }
  .main-4-href5 {
    width: 40%; }
  .main-4-href6 {
    width: 60%; }
  .main-7 {
    display: flex;
    justify-content: space-between;
    max-width: 1220px;
    text-align: center;
    margin: auto !important;
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  .main-7 a {
    font-size: 19px !important;
    margin: 0 !important;
    width: 100%; }
  .main-7-button1 {
    position: relative;
    padding-right: 30px !important;
    padding-left: 30px !important; }
  .main-7-button1:after {
    content: ' ';
    height: 0;
    position: absolute;
    width: 0;
    top: 0;
    right: -44px;
    border: 22px solid transparent;
    border-left-color: black; }
  .main-7-button2 {
    padding-left: 70px !important;
    padding-right: 70px !important;
    margin-left: 28px !important;
    margin-right: 5px !important; }
  .main-7-button3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-right: 5px !important; }
  .main-7-button4 {
    padding-left: 30px !important;
    padding-right: 30px !important; }
  #owl2 .owl-stage-outer .owl-stage .owl-item.active {
    opacity: 1; } }

#owl3 .owl-stage-outer .owl-stage .owl-item:not(.active) {
  opacity: 0.2; }

#owl3 .owl-stage-outer .owl-stage .owl-item.active {
  opacity: 1; }

#owl4 .owl-stage-outer .owl-stage .owl-item:not(.active) {
  opacity: 0.2; }

#owl4 .owl-stage-outer .owl-stage .owl-item.active {
  opacity: 1; }

.main-4-clothes-images a {
  display: block; }

.main-4-clothes {
  position: relative;
  margin: 10px 10px;
  font-family: rajdhani-semibold;
  font-size: 26px;
  color: white;
  background-size: cover; }

.main-4-span {
  position: absolute;
  width: 50%;
  height: 10%;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle; }

.main-4-clothes img {
  max-width: 100%;
  width: auto\9;
  /* ie8 */ }

.main-4-clothes {
  background-size: cover !important;
  background-position: center !important;
  opacity: 1; }

.main-4-href:hover > div {
  opacity: 0.5; }

.clothe1 {
  background: url("./../images/clothes1.jpg");
  height: 490px; }

.clothe2 {
  background: url("./../images/clothes2.jpg");
  height: 490px; }

.clothe3 {
  background: url("./../images/clothes3.jpg");
  height: 490px; }

.clothe4 {
  background: url("./../images/clothes4.jpg");
  height: 490px; }

.clothe5 {
  background: url("./../images/clothes5.jpg");
  height: 490px; }

.clothe6 {
  background: url("./../images/clothes6.jpg");
  height: 490px; }

.main-5-title, .main-6-title {
  text-align: center;
  margin: 40px 0;
  font-family: rajdhani;
  font-size: 24px; }

.main-5-title span, .main-6-title span {
  margin: 0 20px; }

.main-7 {
  text-align: center;
  margin: 30px 10px; }

.main-7 a {
  font-family: rajdhani;
  font-size: 24px;
  text-decoration: none;
  margin: 15px 10px; }

.main-7 a div {
  border: solid 2px #d0d0d0;
  margin: 5px 0;
  padding: 10px 0; }

.main-7-button1 {
  border: none !important;
  background: black;
  color: white; }

.main-7 a .main-7-button1 {
  color: white; }

.main-7-button4 {
  border-bottom: solid 3px black !important;
  background: #d0d0d0;
  color: white; }

.main-4 a .main-7-button1 {
  color: white; }

footer {
  margin-top: 50px;
  padding: 30px 0;
  text-align: center;
  background-color: #f1f1f1; }

#layer {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5; }

.hamburger {
  top: 0;
  position: absolute;
  z-index: 2000;
  display: none; }

.hamburger ul {
  padding: 0; }

.hamburger ul li {
  list-style-type: none;
  padding: 10px 0 10px 0;
  border-bottom: solid 1px #b1b1b1;
  display: flex;
  background: white; }

.hamburger ul li:nth-child(5) {
  display: block; }

.hamburger ul li a {
  display: flex;
  text-decoration: none;
  font-family: rajdhani-medium;
  font-size: 24px;
  color: black;
  width: 100%;
  padding-left: 10px; }

.side-navigation {
  border: solid 3px black;
  border-left: none; }

.hamburger ul li a span:nth-child(2) {
  margin-left: auto;
  margin-right: 15px; }

.side-title {
  color: white; }

.li-first {
  background: black !important; }

.li-first a {
  color: white !important; }

.li-second {
  vertical-align: middle;
  background: #b1b1b1 !important;
  padding: 0 !important; }

.li-second div {
  display: flex;
  padding: 10px; }

.li-second div button {
  margin: 0;
  margin-left: 5px;
  padding: 0;
  border: none; }

.li-second div input[type="text"] {
  padding: 5px;
  font-family: rajdhani-medium;
  font-size: 19px; }

.sub-menu-parent a span:nth-child(2) {
  margin-right: 25px !important; }

.sub-menu-parent {
  padding-bottom: 0 !important; }

.sub-menu-parent a {
  margin-bottom: 10px !important; }

.sub-menu {
  display: none; }

.sub-menu ul li {
  background: black;
  width: 100%; }

.sub-menu ul li a {
  padding-left: 15px;
  color: white; }

.socials {
  justify-content: flex-end; }

.socials a {
  width: auto !important; }

.socials a:nth-child(3) {
  margin-right: 15px; }

.sub-menu2 ul li {
  width: auto; }

.gallery-main-image:after, .gallery-main-image:before {
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s; }

.gallery-main-image:after {
  content: '\A';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); }

.gallery-main-image:before {
  content: attr(data-content);
  width: 100%;
  color: #fff;
  z-index: 1;
  bottom: 0;
  padding: 4px 10px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.gallery:hover .gallery-main-image:after, .gallery-main-image:before {
  opacity: 1; }
